.swiper-button-prev,
.swiper-button-next {
  color: var(--yellow) !important;
  scale: 30px !important;
}

.swiper-pagination-bullet {
  background-color: var(--yellow) !important;
}

.swiper {
  border-radius: 20px !important;
}
