.header_wrapper {
  background-color: var(--yellow);
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  box-shadow: 6px 14px 30px -3px rgba(0, 0, 0, 1);
}

.logo {
  margin-left: 3rem;
  font-size: 30px;
  text-decoration: none;
  color: var(--black);
}

.buy_button {
  margin-right: 2rem;
}

.count_of_items {
  background-color: var(--yellow);
  color: var(--black);
  font-weight: bold;
  border-radius: 3px;
}

.cart_btn {
  text-decoration: none;
  color: var(--black);
  background-color: var(--black);
  color: var(--yellow);
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  font-size: 17px;
  display: flex;
  transition-duration: .5s;
}


.cart_btn:hover {
  background-color: rgb(29, 41, 53);
}