.cart_wrapper {
  height: 450px;
  background-color: #fff;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--yellow);
  background-color: var(--black);
  color: #fff;
  position: relative;
}

.img_wrapper {
  position: relative;
  justify-content: flex-start;
}

.image {
  position: relative;
  left: 0;
  right: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  top: 0;
  width: 400px;
  cursor: pointer;
}

.description {
  padding: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  /* text-align: start; */
  justify-content: space-around;
  height: 220px;
  text-align: center;
  align-items: center;
}

.grams {
  font-size: 20px;
}

.name {
  font-size: 30px;
  cursor: pointer;
}

.description {
  font-size: 18px;
}

.price {
  color: var(--yellow);
  font-size: 20px;
}